@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

p,
li {
  line-height: 1.4;
}

.hosting-plans {
  background-image: url("https://img.freepik.com/free-photo/bright-computer-lab-with-modern-equipment-technology-generated-by-ai_188544-22615.jpg?t=st=1688718346~exp=1688721946~hmac=9d8d7128072fdfcfc52c874e86b7aada86fd6858c6aa86d3cd1cb1e2f2c27fb9&w=826");
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 80px 160px;
  z-index: -100;
}

.hosting-plans__wrapper {
  margin-bottom: 96px;
}
.hosting-plans::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(133, 203, 240);
  background: linear-gradient(
    267deg,
    rgba(133, 203, 240, 1) 0%,
    rgba(131, 149, 247, 0.8) 80%
  );
  z-index: -20;
}

.hosting-plans h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  /* z-index: 1999; */
}

.hosting-plans__sub-headline {
  text-align: center;
  color: #fff;
  z-index: 20;
}

.card-wrapper {
  /* background-color: #c5f0ff; */

  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
  gap: 60px;
}

.package-name {
  margin-bottom: 24px;
  font-size: 1.5rem;
  color: #4361ee;
}

.price {
  color: #4361ee;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.promo {
  /* margin-bottom: 12px; */
  color: #6c757d;
}

.price-before {
  text-decoration: line-through;
}

.price-btn:link,
.price-btn:visited {
  color: #fff;
  text-decoration: none;
}

.price-btn {
  display: inline-block;
  background-color: #4361ee;
  text-align: center;
  padding: 12px 24px;
  border-radius: 5px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.card {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  /* height: 400px; */
  padding: 48px;
  background: #f8f9fa;
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 10;
}

.card-2 .package-name {
  font-size: 1.8rem;
  color: #f77f00;
}

.card-2 {
  transform: scale(1.13);
}

.features {
  list-style: none;
  margin-left: 0;
  color: #343a40;
}
.features > li:not(:last-child) {
  border-bottom: 1px solid #ced4da;
  margin-bottom: 16px;
}
